#site-title {
    text-align: center;
    width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color:black;
    color: white;
    border: 3px solid orange;
    font-family: Papyrus, sans-serif;
}

.recipe-title {
    font-family: 'Lucida Handwriting', sans-serif;
    color: floralwhite;
    background-color: black;
    border: 2px solid orange;
    margin-top: 15px;
}

span {
    color: orange;
}

#home {
    font-size: 20px;
    font-family: 'OCR A', sans-serif;
    font-weight: bold;
}

.backdrop {
    background-color: floralwhite;
}

.recipe-body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#home-list {
    font-family: 'OCR A', sans-serif;
}

.recipe-body .ingredients {
    background-color: rgba(255, 207, 87, 0.856);
    color: darkblue;
}

img {
    width: 600px;
    height: auto;
}

.home-button {
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    background-color: rgb(0, 124, 124);
    color:floralwhite;
    padding: 10px 20px;
    margin: 2px 10px 2px 10px;
}

.home-button:hover {
    background-color: black;
    color: orange;
}